---
layout: page_with_sidebar
title: mobiHQ - Grupo de Pesquisa do Modelo de Ontologias Baseado em Instâncias
---
    <div id="page" class="container">
        <div class="row">
            <div id="content" class="col-md-8">
              <div class="row">
                <h1>Produções</h1>
                <p class="lead">lkklec nckenckenkckeckekcleklc ke</p>
                <p>
                    lkklec nckenckenkckeckekcleklc kelkklec nckenckenkckeckekcleklc ke
                    lkklec nckenckenkckeckekcleklc kelkklec nckenckenkckeckekcleklc ke
                    lkklec nckenckenkckeckekcleklc kelkklec nckenckenkckeckekcleklc ke
                </p>
              </div>
              <div id="docs" class="row">
                <h1 id="thesis">Teses</h1>
                <ul>
                  {% for doc in site.data.thesis %}
                    <li>
                      <div class="row doc thesis">
                        <h3>{{ doc.title }}</h3>
                        <p>
                          Tese de {{ doc.type }} <br/>
                          <span>Autor: </span>{{ doc.author }}<br />
                          {{ doc.program }} <br />
                          <span>Orientador: </span> {{ doc.tutor }}<br />
                          <span>Ano: </span> {{ doc.year }}
                        </p>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
                <h1 id="tcc">Trabalhos de Conclusão de Curso</h1>
                <ul>
                  {% for doc in site.data.tccs %}
                    <li>
                      <div class="row doc tcc">
                        <h3>{{ doc.title }}</h3>
                        <p>
                          <span>Autor: </span>{{ doc.author }}<br />
                          <span>Orientador: </span> {{ doc.tutor }}<br />
                          {{ doc.origin }} - {{ doc.year }}
                        </p>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
                <h1 id="article">Artigos</h1>
                <ul>
                  {% for doc in site.data.articles %}
                    <li>
                      <div class="row doc article">
                        <h3>{{ doc.title }}</h3>
                        <p>
                          <span>Autor: </span>{{ doc.author }}<br />
                          <span>Orientador: </span> {{ doc.tutor }}<br />
                          <span>Ano: </span> {{ doc.year }}
                        </p>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div><!-- end of col-md-8 with left content -->
